<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceObservation" />
        <binding name="BasicHttpBinding_IServicePatient" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceUser"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IServiceLive1" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3055/ServiceObservation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceObservation"
        contract="ServiceObservation.IServiceObservation" name="BasicHttpBinding_IServiceObservation" />
      <endpoint address="http://localhost:3055/ServiceLive.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IServiceLive1" contract="ServiceLive.IServiceLive"
        name="WSDualHttpBinding_IServiceLive1">
        <identity>
          <userPrincipalName value="DESKTOP-ASRL52F\flash" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:3055/ServicePatient.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePatient"
        contract="ServicePatient.IServicePatient" name="BasicHttpBinding_IServicePatient" />
      <endpoint address="http://localhost:3055/ServiceUser.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceUser" contract="ServiceUser.IServiceUser"
        name="BasicHttpBinding_IServiceUser" />
    </client>
  </system.serviceModel>
</configuration>